@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic,500,500italic);
@import 'mixins/_generic.normalize.scss';
@import 'partials/_h5bp.scss';
@import 'partials/_variables.scss';
@import 'mixins/_grid-config.scss';

@import 'partials/_typography.scss';

.test-grid {display: block; height: 300px; background: blue;}

// html,body {height: 100%;}
button {display: inline-block; border:1px solid $faded-blue; background: transparent; color:$text-colour; padding: 0.75em 0.75em; border-radius:0; transition:all ease 0.25s; outline: 0; cursor: pointer; text-align: center; font-weight: 300; font-size: 80%;
	&:hover {background: $faded-blue; color: #fff; }
}

//Page Styles
.cssgradients {
	body {background: radial-gradient(ellipse farthest-corner at 100% 0%, $bg-light 0%, $bg-dark 90%);}	
}
.no-cssgradients {
	body {background: url('#{$images}page-background.jpg'); background-repeat: no-repeat; background-size: cover; }	
}

//Header
header {padding: 1em 0 1em;
	.container {border-bottom: 2px solid $faded-blue;}
}
#logo {
	h1 {margin: 0; line-height: 1; padding: 0 0 0.5em;
		img, svg {max-width: 50px;}
	}
}

h4 { font-size: 93%; color: $faded-blue; margin-bottom: 0.5em;}
#user-name { font-size: 1.875em; margin-bottom: 0.5em;}

//Time
section {padding: 1em 0 0;}
#time {font-size: 2.5em; margin-bottom: 0; font-weight: 100;}

//Events
#event-list {list-style-type: none; display: inline-block; margin-bottom: 0; width: 100%;
	li {display: block; margin-bottom: 1em;
		&:last-of-type {margin-bottom: 0;}
		&:after {content: ''; width: 100%; display: block; clear: both;}
	}
	.time {font-family: "Georgia",Times,Times New Roman,serif; font-style: italic; padding-bottom: 0.5em; border-bottom: 3px solid $green; display: inline-block; max-width: 35px; margin-right: 1em; float: left;}
	.event-info {width: 80%; float: left;}
	.event-title {margin-top: 0.05em; margin-bottom: 0.75em;}
	.event-details {font-size: 70%;}
}

#events, #tasks {
	button {width: 100%;}
}

#tasks {padding: 2em 0 0;}

.month-selector { overflow: hidden; max-height: 55px;
	.selector-conatiner { width: 100%; overflow-y: hidden; overflow-x: scroll;
		.selector-wrapper { list-style-type: none; text-align: left; white-space: nowrap; margin-bottom: 0;
			li {display: inline-block;
				a {display: block; text-transform: uppercase; margin: 1em 1em 2em; color: $white;}
				.active {transform:scale(1.6); transform-origin:auto; border-bottom:3px solid $green; }
			}
		}
	}
}

#task-info-container {padding: 1em 0;
	.task-title {padding: 0 0 0 0.5em; margin-bottom: 0.75em; position: relative;
		&:before {content: ''; display: block; width: 0.5em; height: 0.5em; border-radius: 100%; position: absolute; top: 0.6em; left: -0.4em;}
	}
	.task-details {padding: 0 0.5em; font-size: 70%;}
	.task-info {
		&[data-task-state="outstanding"] {
			.task-title:before {background: $blue;}
		} 
		&[data-task-state="complete"]{
			.task-title:before {background: $green;}
		}
	}
}

.task-block { display: inline-block; margin: 1em 1em 1em 0;
	p {margin-bottom: 0.15em;}
	.label {color: $faded-blue;}
	.count { margin-bottom: 0; font-size: 2em;}
	&#complete {
		.count {color: $green;}
	}
	&#outstanding {
		.count {color: $blue;}
	}
}

