//Colors
$text-colour: #000;
$brand-highlight: red;

//File Locations
$images: "../img/";
$fonts: "../fonts/";

//Globals
@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic,500,500italic);
$font-stack: 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif;